<ion-content class="registro-content">
  <div class="registro-box">
    <h1>Crear Cuenta</h1>
    <form [formGroup]="registroForm">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <ion-label>NOMBRE</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>

            <ion-label>USUARIO</ion-label>
            <ion-input formControlName="usuario" type="text"></ion-input>

            <ion-label>CORREO</ion-label>
            <ion-input formControlName="correo" type="email"></ion-input>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-label>CONTRASEÑA</ion-label>
            <ion-input formControlName="contrasena" type="password"></ion-input>

            <ion-label>REPETIR CONTRASEÑA</ion-label>
            <ion-input formControlName="repetir" type="password"></ion-input>

            <ion-label>TELEFONO</ion-label>
            <ion-input
              formControlName="telefono"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              maxlength="9">
            </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button expand="block" color="dark" (click)="registrar()">
        Crear
      </ion-button>
    </form>
  </div>
</ion-content>
