ion-toolbar {
  --background: #ffffff;
  --color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}

ion-searchbar {
  width: 100%;
}

@media (max-width: 768px) {
  ion-col {
    margin-bottom: 10px;
  }
}
