<ion-content>
  <div class="container">
    <div class="welcome">
      <h1>Bienvenidos a Ferramas</h1>
      <img src="assets/logo.png" alt="Ferramas Logo" />
    </div>

    <div class="intro">
      <p>
        Somos una pequeña centro de distribución con nuestro nueva plataforma web
      </p>
    </div>

    <div class="buttons">
      <ion-button expand="block" color="dark">Herra - Manuales</ion-button>
      <ion-button expand="block" color="dark">Materiales Básicos</ion-button>
      <ion-button expand="block" color="dark">Equipos Seguridad</ion-button>
      <ion-button expand="block" color="dark">Tornillos - Anclaje</ion-button>
      <ion-button expand="block" color="dark">Fijaciones</ion-button>
      <ion-button expand="block" color="dark">Equipos Medición</ion-button>
    </div>

    <div class="social">
      <p>SÍGUENOS EN LAS REDES SOCIALES</p>
      <div class="icons">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="mail-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
